:root {
  --primary: #00003a;
  --green: rgb(86, 185, 77);
  --secondary: #f4c129;
  --tertiary: #f68926;
  --lightGreen: #86c548;
  --lightBlue: rgb(54, 114, 185);
  --blueGrey: #27aee4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: 0 auto; 
}

body {
  font-family: "rubik";
  text-align: center;
  position: relative;
  height: 100vh;
  background-color: #00003a;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./assets/img/training4blackandWhite.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 250%;
  opacity: 0.07;
  z-index: -1;
}

/*HEADER*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--primary);
  width: 100%;
  padding: 15px 20px; /* Added some horizontal padding */
  top: 0;
  left: 0;
  z-index: 1000;
  position: sticky;
}

.logo {
  width: 80px;
  height: auto;
}

.navigationBar {
  display: none; 
}
.navigationBar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navigationBar li {
  margin-left: 20px; 
}

.navigationBar li:first-child {
  margin-left: 0;
}

.navigationBar li a {
  color: white;
  text-decoration: none;
  font-size: 1em;
  transition: color 0.3s ease;
}

.navigationBar li a:hover {
  color: var(--secondary); 
}


.navigationBar.show-nav {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px; 
  left: 0;
  background-color: var(--primary);
  width: 100%;
  padding: 20px;
  align-items: flex-start;
}

.navigationBar.show-nav ul {
  flex-direction: column;
  width: 100%;
}

.navigationBar.show-nav li {
  margin: 10px 0;
}

.hamburger {
  background: none;
  border: none;
  color: grey;
  font-size: 2em;
  cursor: pointer;
  padding: 0;
  display: block; 
}

.hamburger:focus {
  outline: none; 
}

/*HERO SECTION*/

/* Hero Section Styles */
.hero {
  padding: 80px 20px; /* Increased top/bottom padding for more visual space */
  position: relative;
  margin-top: 2em; /* Adjust as needed based on header height */
  text-align: left; /* Left align everything within the hero */
}

.heroSubtitle {
  color: white; /* Or your preferred subtitle color */
  font-size: 1.2em;
  font-weight: 300;
  margin-bottom: 10px;
}

.heroTitle {
  font-size: 3em; /* Increased title size */
  margin: 0 0 20px 0;
  line-height: 1.2em;
  color: var(--green);
  font-weight: 700; /* Make the title bolder */
}

.heroTitle span {
  color: var(--tertiary);
}

.heroTagline {
  margin-bottom: 40px;
  font-size: 1.1em; /* Slightly larger tagline */
  font-weight: 300;
  color: white;
  line-height: 1.8em;
  width: 80%; /* Adjust width for better readability */
}

.heroButton {
  display: flex;
  align-items: center;
  gap: 15px; /* More space between button and icon */
  margin-bottom: 20px;
}

.heroBtn {
  display: inline-block; /* To control width based on content */
  padding: 12px 30px; /* More horizontal padding */
  border: 2px solid white;
  background-color: transparent;
  color: white;
  font-size: 1em;
  cursor: pointer;
  text-decoration: none; /* Remove underline from the link */
  transition: background-color 0.3s ease, color 0.3s ease;
}

.heroBtn:hover {
  background-color: var(--lightGreen);
  color: var(--primary);
  border-color: var(--lightGreen);
}

.btnIcon {
  color: var(--primary);
  background-color: white;
  font-size: 1.2em;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*INTRO SECTION*/

.introGrid {
  padding: 20px;
}

.intro {
  background-color: white;
  padding: 15px;
  margin-bottom: 30px; 
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; 
}

.intro div {
  width: 100%; 
}

.intro img {
  width: 100%;
  height: auto;
  object-fit: cover; 
  border-radius: 6px;
  display: block;
}

.introText {
  color: var(--primary);
  margin-top: 20px;
  font-size: 1em;
  line-height: 1.6;
  font-weight: 300;
  text-align: left;
  padding: 15px;
}

/*MISSION STATEMENT*/

.statementGrid {
  padding: 20px;
}

.vision,
.mission {
  color: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: left;
  display: flex;
  flex-direction: column; /* Stack content on mobile */
}

.vision {
  background-color: var(--lightBlue);
}

.mission {
  background-color: var(--secondary);
  color: var(--primary);
}

.visionContent,
.missionContent {
  padding: 20px;
  margin-bottom: 20px; /* Space between text and banner on mobile */
}

#visionTitle1,
#missionTitle1 {
  font-weight: lighter;
  font-size: 2.5em;
  margin-bottom: 5px;
}

#visionTitle2,
#missionTitle2 {
  font-weight: bolder;
  font-size: 2.5em;
  margin-bottom: 15px;
}

#visionParagraph,
#missionParagraph {
  font-size: 0.9em;
  line-height: 1.5;
  font-weight: 300;
}

.vision img,
.mission img {
  width: 100%;
  height: auto;
  max-height: 80px; /* Limit banner height on mobile */
  object-fit: cover;
  border-radius: 6px;
}


/*ABOUT US*/
.aboutUs {
  padding: 25px 15px;
  text-align: left;
  background-image: url("./aseets/curves_bg.png");
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: center;
}

.aboutUsBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px 20px;
  border-radius: 32px;
  color: white;
  background-color: var(--blueGrey);
  font-weight: 100;
  letter-spacing: 5px;
  margin: 25px 0;
  cursor: pointer;
}

.aboutUsTitle {
  margin-bottom: 30px;
  color: white;
  text-align: center;
  font-weight: 100;
  font-size: 1.5em;
  line-height: 1.3em;
  width: 80%;
  margin: 25px auto;

}

/*SERVICES*/

aboutUs {
  padding: 40px 20px;
  text-align: center;
  background-image: url("./aseets/curves_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  color: white;
}

.aboutUsTitle {
  font-size: 1.8em;
  line-height: 1.4;
  font-weight: 300;
  margin-bottom: 30px;
}

.serviceCardContainer {
  padding: 20px;
}

.serviceCard {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 20px; /* Spacing between cards on mobile */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.serviceCard:hover {
  transform: scale(1.05); /* Slight scale-up on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.cardImage {
  width: 100%;
  height: auto;
  display: block;
}

.cardContent {
  padding: 20px;
  text-align: left;
}

.cardTitle {
  color: var(--green);
  font-size: 1.2em;
  margin-bottom: 10px;
}

.cardDescription {
  color: var(--primary);
  font-size: 0.9em;
  line-height: 1.6;
  font-weight: 300;
  margin-bottom: 15px;
}

.cardBtn {
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 10px 20px;
  font-size: 0.8em;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.cardBtn:hover {
  background-color: var(--secondary);
  color: white;
  border-color: var(--secondary);
}

.servicesButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.moreBtn {
  width: auto;
  padding: 12px 25px;
  border: none;
  background-color: var(--blueGrey);
  color: white;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.moreBtn:hover {
  background-color: rgba(54, 114, 185, 0.8);
}

.servicesButton #btnIcon {
  color: var(--primary);
  background-color: white;
  font-size: 1.2em;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

/*THE TEAM*/

.teamContainer {
  background-color: #f7f7f7;
  padding: 40px 20px;
  text-align: center;
}

.teamTitle {
  font-size: 2em;
  color: var(--primary);
  margin-bottom: 30px;
}

.team {
  padding: 20px;
}

.teamMembers {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* overflow: hidden; */
  margin-bottom: 50px; 
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.teamMembers:hover {
  transform: translateY(-5px); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.teamMembers img {
  width: 150px;
  height: 150px;
  /* border-radius: 50%; */
  object-fit: cover;
  margin-top: -20px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.teamContent {
  padding: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.memberName {
  font-size: 1.3em;
  color: var(--green);
  margin-bottom: 5px;
}

.memberParagraph {
  font-size: 0.9em;
  line-height: 1.6;
  color: var(--primary);
  margin-bottom: 15px;
}

.teamMembers .cardBtn {
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 10px 20px;
  font-size: 0.8em;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  margin-top: auto; 
}

.teamMembers .cardBtn:hover {
  background-color: var(--secondary);
  color: white;
  border-color: var(--secondary);
}


/*TESTIMONIALS*/
.testimonialsContainer {
  text-align: center;
  background-color: var(--lightBlue);
  padding: 40px 20px;
  background-image: url("./aseets/curvesupsidedown.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  color: white;
}

.testimonialsBtn {
  display: inline-block;
  padding: 10px 25px;
  border-radius: 32px;
  border: none;
  color: white;
  background-color: rgba(54, 114, 185, 0.8);
  font-weight: 100;
  letter-spacing: 1px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 0.9em;
}

.testimonialsTitle {
  font-size: 2em;
  margin-bottom: 30px;
}

.testimonialsGrid {
  padding: 20px;
}

.testimonyCard {
  background-color: white;
  color: var(--primary);
  border-radius: 8px;
  padding: 25px;
  margin-bottom: 20px;
  text-align: left;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.clientInfo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.clientAvatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}

.clientName {
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 5px;
}

.clientJob {
  font-size: 0.9em;
  color: #777;
}

.cardHeading {
  font-size: 1.3em;
  color: var(--green);
  margin-bottom: 10px;
}

.clientTestimony {
  line-height: 1.6;
  font-weight: 300;
  margin-bottom: 15px;
}


/*call to action*/
.joinUs {
  font-size: 24px;
  color: white;
  text-align: center;
}

.callToAction {
  background-image: url("./assets/img/light-green-blur-texture-vector.jpg");
  padding: 1em;
  width: 80%;
  margin: 20px auto;
}

.callToActionBtn {
  background: transparent;
  border: 2px solid white;
  color: white;
  font-size: 16px;
  font-weight: bold; 
  cursor: pointer;
  padding: 8px 16px;
  margin-top: 10px;
}

.callToActionBtn:hover {
  background-color: var(--lightGreen);
}

/*FOOTER*/
footer {
  position: relative; 
  background-color: transparent; 
  padding: 20px;
  color: white; /* Example text color */
}

footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/img/training5.jpeg');
  background-size: 100%;
  background-position: left center;
  filter: blur(20px); 
  z-index: -1; 
}

.formHeading {
  font-size: 1.5em;
  color: white;
  margin-bottom: 20px;
}

.contactUs {
  font-size: 1.5em;
  margin-bottom: 10px;
  padding: 15px;
}

.googleButton {
  background-color: var(--primary);
  border: 2px solid white;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  padding: 10px 20px;
  margin: 35px 0;
}

.googleButton:hover {
  background-color: var(--lightGreen);
}

form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 40px 0;
}

input,
.submitBtn {
  height: 65px;
}

input::placeholder {
  padding-left: 20px;
}

.submitBtn {
  width: 60%;
  background-color: var(--primary);
  border: 2px solid white;
  color: white;
  font-size: 16px;
  font-weight: bold; 
  cursor: pointer;
}

.submitBtn:hover {
  background-color: var(--lightGreen);
}

.checkInput {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 17px;
  background-color: white;
  color: var(--primary);
  font-size: 13px;
  padding-left: 6px;
}

.footerCard {
  background-color: var(--primary);
  color: white;
  margin-bottom: 15px;
}

.copyright {
  font-size: 12px;
}

fa-facebook {
  color: var(--lightGreen);
  font-size: 1.5em;
}

/*MEDIA QUERIES*/

@media (min-width: 768px) {

/*HEADER*/
  hamburger {
    display: none; 
  }

  .navigationBar {
    display: flex;
    align-items: center;
  }

/*HERO SECTION*/

  .heroTitle {
    font-size: 3.5em;
  }

  .heroTagline {
    font-size: 16px;
  }

  .heroButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .heroBtn {
    width: 25%;
    height: 35px;
    padding: 10px;
    border: 2px solid white;
    background-color: transparent;
    font-size: 0.5em; 
    cursor: pointer;
  }

  /*INTRO SECTION*/

  .intro {
    flex-direction: row; 
    align-items: center; 
  }

  .intro div {
    width: 50%; 
  }

  .intro img {
    height: auto; 
  }

  .introText {
    width: 50%; 
    margin-top: 0; 
    padding: 20px;
  }

  
  .intro:nth-child(2) {
    flex-direction: row-reverse;
  }

/*MISSION STATEMENT*/
.statementGrid {
  display: flex;
  gap: 20px;
}

.vision,
.mission {
  width: 50%;
  height: 400px; 
  flex-direction: column;
  justify-content: space-between; 
}

.visionContent,
.missionContent {
  margin-bottom: 0; 
}

.vision img,
.mission img {
  max-height: none; 
  width: 100%;
  object-fit: cover;
  border-radius: 6px;
  margin-top: auto; 
}

/*ABOUT US*/

.serviceCardContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.serviceCard {
  display: flex; 
  flex-direction: row; 
  margin-bottom: 0; 
}

.cardImage {
  width: 50%;
  height: auto;
  object-fit: cover; 
}

.cardContent {
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
}


.cardContent .cardBtn {
  margin-top: auto;
}


  /*THE TEAM*/

  .team {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
  }

  .teamMembers {
    margin-bottom: 0; 
  }

  /*testimonials*/
  .testimonialsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }

  .testimonyCard {
    margin-bottom: 0; 
  }
}

@media (min-width: 1200px) {
  .team {
    gap: 30px; 
  }

}