:root {
  --primary: #00003a;
  --green: rgb(86, 185, 77);
  --secondary: #f4c129;
  --tertiary: #f68926;
  --lightGreen: #86c548;
  --lightBlue: rgb(54, 114, 185);
  --blueGrey: #27aee4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: 0 auto; 
}

body {
  font-family: "rubik";
  text-align: center;
  position: relative;
  height: 100vh;
  background-color: #00003a;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./assets/img/training4blackandWhite.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 250%;
  opacity: 0.07;
  z-index: -1;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  width: 100%;
  padding: 15px;
  top: 0;
  left: 0;
  z-index: 1000;
  position: sticky;
}

.logo {
  width: 8em;
}

.navigationBar {
  display: none;
}


a {
    text-decoration: none;
    color: white;
}


.hero {
  padding: 10px;
  position: relative;
  margin-top: 2em;
}


.heroTitle {
  font-size: 1.8em;
  margin: 0 0 20px 0;
  text-align: left;
  line-height: 1.3em;
  color: var(--green);
}

span {
  color: var(--tertiary);
}

.heroTagline {
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 200;
  text-align: center;
  color: white;
  line-height: 40px;
}

.heroButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.heroBtn {
  width: 35%;
  height: 35px;
  padding: 10px;
  border: 2px solid white;
  background-color: transparent;
  font-size: 0.5em; 
  cursor: pointer;
}

.heroBtn:hover {
  background-color: var(--lightGreen);
}

#btnIcon {
  width: 1.5em;
  height: 1.5em;
}



/*INTRO SECTION*/

.introText {
  color: var(--primary);
  margin: 20px auto;
  font-size: 1.2em;
  font-weight: 200;
  padding: 10px 8px;
}

.intro {
  background-color: white;
  padding: 0 0 10px 0;
  margin-bottom: 20px;
}

.intro img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/*MISSION STATEMENT*/
.vision{
  background-color: var(--lightBlue);
  color: white;
  margin-bottom: 20px;
}

.mission {
  background-color: var(--secondary);
  color: var(--primary)
}

.visionContent,
.missionContent {

  padding: 40px 40px;
  text-align: left;
  margin-bottom: 20px;
}

#visionTitle1,
#missionTitle1 {
  font-weight: lighter;
  font-size: 55px;
}

#visionTitle2,
#missionTitle2 {
  font-weight: bolder;
  font-size: 55px;
}

#visionParagraph,
#missionParagraph {
  font-size: 13px;
  line-height: 20px;
}

.vision img {
  width: 100%;
  height: 50px;
  object-fit: cover;
}

.mission img {
  width: 100%;
  height: 50px;
  object-fit: cover;
}


/*ABOUT US*/
.aboutUs {
  padding: 25px 15px;
  text-align: left;
  background-image: url("./aseets/curves_bg.png");
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: center;
}

.aboutUsBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px 20px;
  border-radius: 32px;
  color: white;
  background-color: var(--blueGrey);
  font-weight: 100;
  letter-spacing: 5px;
  margin: 25px 0;
  cursor: pointer;
}

.aboutUsTitle {
  margin-bottom: 30px;
  color: white;
  text-align: center;
}

/*SERVICES*/
.serviceCardContainer {
  width: 90%;
  margin: 0 auto;
}
.serviceCard {
  margin: 0 auto 0.5em auto;
  display: flex;
  gap: 15px;
  background-color: white;
  backdrop-filter: blur(80px);
  padding: 10px;
  height: 10em;
}

.cardTitle {
  color: var(--green);
}

.cardDescription {
  color: var(--primary)
}

.cardTitle {
  font-size: 1.4em;
  line-height: 1.3em;
  text-align: left;
  margin-bottom: 0.5em;
}

.cardDescription {
  font-size: 14px;
  line-height: 1.3em;
  font-weight: 100;
  text-align: justify;
}

.cardContent {
  width: 870%;
}

.cardImage {
  width: 2.5em;
  height: 30%;
}

.contactButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0; 
}

.contactUsBtn {
  width: 35%;
  height: 35px;
  padding: 10px;
  border: 2px solid white;
  background-color: transparent;
  font-size: 0.5em; 
  color: white;
  cursor: pointer;
}

.contactUsBtn:hover {
  background-color: var(--tertiary);
}

.servicesBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px 20px;
  border-radius: 32px;
  border: none;
  color: white;
  background-color: var(--blueGrey);
  font-weight: 100;
  letter-spacing: 5px;
  margin: 25px 0;
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.3);
  backdrop-filter: blur(10px);
}




/*TESTIMONIALS*/
.testimonialsContainer {
  text-align: left;
  background-color: var(--lightBlue);
  padding: 2em 0.5em;
  background-image: url("./aseets/curvesupsidedown.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.testimonialsBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px 20px;
  border-radius: 32px;
  border: none;
  color: white;
  background-color: var(--blueGrey);
  font-weight: 100;
  letter-spacing: 5px;
  margin: 25px 0;
  cursor: pointer;
  background-color: rgba(54, 114, 185);
  backdrop-filter: blur(10px);
}

.testimonialsTitle {
  color: white;
  text-align: center;
}

.testimonySlider {
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%; /* Set width to 100% for responsiveness */
    max-width: 100%; /* You can set a specific max-width like 600px if needed */
  }
  

.testimonyCard {
  background-color: white;
  width: 85%;
  margin: 2em auto;
  padding: 1.8em;
  border-radius: 1.3em;
  text-align: justify;
  height: 28em;
  flex-shrink: 0;
  width: 100%; /* Only one card is visible at a time */
  transition: transform 0.5s ease;
}

.cardHeading {
  text-align: left;
  color: rgb(89, 89, 89);
}

.clientTestimony {
  line-height: 1.5em;
  font-weight: 200;
  margin: 2em auto;
  color: rgb(89, 89, 89);
}

.client {
  color: rgb(89, 89, 89);
  font-weight: bold;
}

.clientJob {
  font-weight: 100;
}

.testimonyArrowBtns {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 261em;
  width: 95%;
  margin: 0 auto;
  z-index: 1;
}

.arrowLeft,
.arrowRight {
  background-color: var(--tertiary);
  border: none;
  color: white;
  font-size: 35px;
  cursor: pointer;
  padding: 13px 25px;
  border-radius: 100%;
}

.arrowLeft:hover,
.arrowRight:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.joinUs {
  font-size: 24px;
  color: white;
  text-align: center;
}

.callToAction {
  background-image: url("./assets/img/light-green-blur-texture-vector.jpg");
  padding: 1em;
  width: 80%;
  margin: 20px auto;
}

.callToActionBtn {
  background: transparent;
  border: 2px solid white;
  color: white;
  font-size: 16px;
  font-weight: bold; 
  cursor: pointer;
  padding: 8px 16px;
  margin-top: 10px;
}

.callToActionBtn:hover {
  background-color: var(--lightGreen);
}

/*FOOTER*/
footer {
  position: relative; 
  background-color: transparent; 
  padding: 20px;
  color: white; /* Example text color */
}

footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/img/training5.jpeg');
  background-size: 100%;
  background-position: left center;
  filter: blur(20px); 
  z-index: -1; 
}

.formHeading {
  font-size: 1.5em;
  color: white;
  margin-bottom: 20px;
}

.contactUs {
  font-size: 1.5em;
  margin-bottom: 10px;
  padding: 15px;
}

.googleButton {
  background-color: var(--primary);
  border: 2px solid white;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  padding: 10px 20px;
  margin: 35px 0;
}

.googleButton:hover {
  background-color: var(--lightGreen);
}

form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 40px 0;
}

input,
.submitBtn {
  height: 65px;
}

input::placeholder {
  padding-left: 20px;
}

.submitBtn {
  width: 60%;
  background-color: var(--primary);
  border: 2px solid white;
  color: white;
  font-size: 16px;
  font-weight: bold; 
  cursor: pointer;
}

.submitBtn:hover {
  background-color: var(--lightGreen);
}

.checkInput {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 17px;
  background-color: white;
  color: var(--primary);
  font-size: 13px;
  padding-left: 6px;
}

.footerCard {
  background-color: var(--primary);
  color: white;
  margin-bottom: 15px;
}

.copyright {
  font-size: 12px;
}

fa-facebook {
  color: var(--lightGreen);
  font-size: 1.5em;
}


